@font-face {
	font-family: 'Selecta Light';
	src: url('../fonts/Selecta-Light.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Selecta Regular';
	src: url('../fonts/Selecta-Regular.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Selecta Medium';
	src: url('../fonts/Selecta-Medium.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'Manrope Light';
	src: url('../fonts/Manrope-Light.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'IBMPlexSansJP Light';
	src: url('../fonts/IBMPlexSansJP-Light.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'IBMPlexSansJP Regular';
	src: url('../fonts/IBMPlexSansJP-Regular.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

@font-face {
	font-family: 'IBMPlexSansJP Medium';
	src: url('../fonts/IBMPlexSansJP-Medium.ttf');

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}