@media all and (min-width: 320px) {
	/*//////////////////////////////////////////////////////
	  GRID
	//////////////////////////////////////////////////////*/	
	.grid-1 { grid-template-columns: 10fr 2fr; }
	.grid-2, .grid-3, .grid-4 { grid-template-columns: 1fr; }	 

	#header, .projectInfo, #about { margin: 1rem; }
	#about { display: none; }

	/*//////////////////////////////////////////////////////
	  TYPESETTING
	//////////////////////////////////////////////////////*/
	h1{ 
		font-size: .9rem;
		line-height: 1.4rem;
		letter-spacing: 0.03rem;
	}	

	h2 {
		font-size: 1.2rem;
		line-height: 1rem;
		letter-spacing: 0.01rem;
		margin-bottom: .75rem;
	}

	h3 {
		font-size: .85rem;
		line-height: 1rem;
		letter-spacing: .1rem;
		margin-bottom: .5rem;
	}

	p, a, li  {
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: 0.02rem;
	}

	span.JP { font-size: .85rem; }

	#nav .intro p, #nav .service p { 
		font-size: 1.3rem; 
		line-height: 1.8rem;
		letter-spacing: 0;
	}

	/*//////////////////////////////////////////////////////
	  HEADER
	//////////////////////////////////////////////////////*/
	h1 { letter-spacing: .06rem; }
	.menu { text-align: right; }

	.logo { 
		max-width: 100%; 
		margin-top: 2.5rem;
	}

	.logo svg { max-width: 100%; }

	.logoSM { display: none; }

	/*//////////////////////////////////////////////////////
	  NAV
	//////////////////////////////////////////////////////*/
	#nav .connect, #nav .intro, #nav .service { padding: 1rem; }
	#nav .connect, #nav .connect div { margin-bottom: .5rem; }	
	#nav .serviceType { margin-bottom: 1.5rem; }	
	#nav .service p.description { display: none; }
	.serviceType p br { display: none; }
	
	/*//////////////////////////////////////////////////////
	  WORK
	//////////////////////////////////////////////////////*/
	#work { margin: 4rem 0; }
	.projectWrapper { margin-bottom: 2.5rem; }
	
	.projectThumbnail {
		max-width: 100%;
		aspect-ratio: 7 / 5;
	}	

	#work .learnMore p {	
		margin-bottom: .5rem;
	}

	.projectDescription p br { 
		display: block; 
		content: ""; 
		margin-top: .5rem; 
	}

	/*//////////////////////////////////////////////////////
	  FOOTER
	//////////////////////////////////////////////////////*/
	#footer { padding: 4rem 1rem .5rem 1rem; }
	#footer .col { margin-bottom: .5rem; }
	#footer .col p { display: inline-block; }	
}

@media all and (min-width: 768px) {
	/*//////////////////////////////////////////////////////
	  GRID
	//////////////////////////////////////////////////////*/
	.grid-3, #footer.grid-2 { grid-template-columns: 6fr 6fr; }
	.grid-4, .grid-5 { grid-template-columns: 4fr 4fr 4fr; }

	/*//////////////////////////////////////////////////////
	  NAV
	//////////////////////////////////////////////////////*/	
	#nav h1, #nav p, #nav p a, #nav .service p.description.textJP { 
		font-size: .9rem;
		line-height: 1.4rem;
		letter-spacing: .05rem;		
	}

	#nav .intro p, #nav .service p { 
		font-size: 3rem; 
		line-height: 3.25rem;
	}

	#nav .service h1 { 
		font-size: 1rem;
		letter-spacing: .08rem;		
	}

	#nav .service p.title { 
		font-size: 2rem; 
		line-height: 2.5rem;
		margin: 2rem 0 .75rem 0;
	}

	#nav .service p.description { 
		font-size: 1rem; 
		line-height: 1.5rem;
		letter-spacing: .03rem;
	}

	#nav .service p.description.textJP { margin-top: 1rem; }
	#nav .connect div, #nav .service h1 { margin-bottom: 0; }	
	#nav .intro { margin: 6rem 0 3rem 0; }

	#nav .service p.description { display: block; }
	.serviceType p br { display: block; }

	/*//////////////////////////////////////////////////////
	  WORK
	//////////////////////////////////////////////////////*/
	#work .projectWrapper { margin: 0 1rem 4rem 1rem; }
	#work .projectTag { text-align: right; }
	#work .projectInfo { margin: 1rem 0; }

	/*//////////////////////////////////////////////////////
	  FOOTER
	//////////////////////////////////////////////////////*/
	#footer .col { vertical-align: middle; }
	#footer .col.copyright { text-align: right; }
}

@media all and (min-width: 1024px) {	
	/*//////////////////////////////////////////////////////
	  GRID
	//////////////////////////////////////////////////////*/
	.grid-1 { grid-template-columns: 4fr 4fr 4fr; }
	.grid-2 { grid-template-columns: 8fr 4fr; }
	.grid-4, .grid-5 { grid-template-columns: 4fr 4fr 4fr; }	

	/*//////////////////////////////////////////////////////
	  HEADER
	//////////////////////////////////////////////////////*/
	#header { 
		position: sticky; 
		position: -webkit-sticky;
		top: 0; 		
		margin: 0;
		padding: .75rem 1rem;
		background-color: var(--white);		
	}

	#header .grid-1 { align-items: center; }
	.logo { display: none; }

	.logoSM { 
		display: block; 
		width: 10rem;
		place-self: center;
	}

	/*//////////////////////////////////////////////////////
	  NAV
	//////////////////////////////////////////////////////*/	

	#nav h1, #nav p, #nav p a {
		font-size: .8rem;
		letter-spacing: .05rem;
	}

	#nav .intro p {
		font-size: 3.25rem;
		line-height: 4rem;
		letter-spacing: 0rem;
	}

	#nav .intro { margin-bottom: 3rem; }
	#nav .connect { margin-bottom: 4rem; }
	
	.serviceType { max-width: 95%; }
	.serviceType p br { display: block; }	

	#nav .service p.title { 
		font-size: 1.75rem; 
		line-height: 2.3rem;
		letter-spacing: .02rem;
		margin: 1.5rem 0 .75rem 0;
	}

	#nav .service .description.textJP { 
		display: block; 
		margin-top: 1rem;
		font-size: .9rem;
		line-height: 1.75rem;
		letter-spacing: .05rem;
	}

	/*//////////////////////////////////////////////////////
	  WORK
	//////////////////////////////////////////////////////*/
	#work .projectWrapper { margin: 0 1rem 4rem 1rem; }

	/*//////////////////////////////////////////////////////
	  ABOUT
	//////////////////////////////////////////////////////*/
	#about { 
		display: block; 
		top: 7.1rem;
		margin: 0 1rem 0 0;		
	}

	.aboutSection { margin-bottom: 1.5rem; }
	.aboutSection.JP { margin-top: 2.5rem; }

	.aboutSection p, .aboutSection p a, .aboutSection li, h4 { 
		font-size: .9rem;
		line-height: 1.35rem;		
	}

	.aboutSection p br { 
		display: block; 
		content: ""; 
		margin-top: .5rem; 
	}

	.aboutSection.JP h4, .aboutSection.JP p, .aboutSection.JP p a { 
		font-size: .78rem;
		line-height: 1.4rem;
		letter-spacing: .02rem;
	}

	h4 { letter-spacing: .02rem; }
	.serviceColumn p, h4 { margin-bottom: .25rem; }
}

@media all and (min-width: 1280px) {
	/*//////////////////////////////////////////////////////
	  GRID
	//////////////////////////////////////////////////////*/
	.grid-1 { grid-template-columns: 4fr 4fr 4fr; }
	.grid-2 { grid-template-columns: 9fr 3fr; }
	/* .grid-5 { grid-template-columns: 3.5fr 3.5fr 3.5fr 2.5fr; } */
	
	#footer .grid-1 { grid-template-columns: 6fr 2fr; }	
	
	/*//////////////////////////////////////////////////////
	  NAV
	//////////////////////////////////////////////////////*/
	/* #nav .connect .credit { text-align: right; } */
	#nav .intro { max-width: 85%; }
	.serviceType { max-width: 75%; }

	#nav h1, #nav p, #nav p a {
		font-size: .9rem;

	}

	#nav .service p.title { 
		font-size: 2rem;
		line-height: 2.5rem;
	}

	/*//////////////////////////////////////////////////////
	  FOOTER
	//////////////////////////////////////////////////////*/
	#footer .serviceWrapper { margin-bottom: 0; }
	
	#footer .copyright { 
		display: grid;
		align-items: end;
		text-align: right; 
	}
}

@media all and (min-width: 1440px) {
	
}

@media all and (min-width: 1680px) {
	
}
